@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --white: white;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Red);
}

main {
    width: 90%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-1 {
    width: 40%;
    color: var(--white);
}

.side-2 {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.heading {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0px;
}
.heading h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
.text {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 25px;
}

.form-banner {
    background-color: var(--Blue);
    padding: 15px;
    margin: 10px auto;
    width: 75%;
    border-radius: 5px;
    box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.247);
    color: var(--white);
    font-weight: 700;
}

.form-banner span {
    color: var(--GrayishBlue);
    font-weight: 400;
}

form {
    padding: 20px 20px;
    width: 75%;
    margin: 30px auto;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.247);
}

.form-input {
    margin: 15px 0px;
    display: flex;
    align-items: center;
}

.form-input input {
    font-weight: 700;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--GrayishBlue);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
}

.form-input img {
    display: none;
    width: 30px;
    margin-left: 10px;
}

input[type="submit"] {
    background: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--Green);
}

input[type="submit"]:hover {
    background-color: hsla(154, 59%, 51%, 0.7);
    cursor: pointer;
}

input:focus {
    outline-color: var(--Blue);
}

input.error {
    border-color: var(--Red);
}
.error-text {
    font-size: 12px;
    padding: 0;
    text-align: right;
    color: var(--Red);
    /* margin-right:50px ; */
}
.terms {
    font-size: 12px;
    color: var(--GrayishBlue);
    font-weight: 500;
}
.terms span a {
    color: var(--Red);
    text-decoration: none;
}

footer {
    display: none;
}

.attribution {
    font-size: 13px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
    body {
        background-image: url("images/bg-intro-mobile.png");
    }
    .flex-container {
        display: block;
    }
    .side-1 {
        width: 100%;
        text-align: center;
        margin: 0px 0px 50px 0px;
    }

    .heading h1 {
        font-size: 30px;
        line-height: normal;
    }

    .side-2 {
        width: 100%;
        padding: 0;
    }
    .form-banner,
    form {
        width: 100%;
    }
}
